# For PCBs designed using KiCad: http://www.kicad-pcb.org/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*.kicad_sch-bak
*~
.~*
_autosave-*
*.tmp

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
.dsn

# Exported BOM files
*.xml
*.csv
*.svg

# private information
fp-lib-table
fp-info-cache*
*-cache.lib

gerber/
*.zip


*.xcf
firmware.bin
combined_rom.bin


# private development tools
dtools/

# regeneratable .gz
firmware/data/w/index.html.gz

